* {
  font-family: "Prompt", sans-serif;
}

.main-box {
background: linear-gradient(0deg, rgba(99,180,255,1) 7%, rgba(236,246,255,1) 100%);
  box-shadow: 0px 9px 16px 0px rgb(224, 224, 224);
}

#forecast-icon {
  width: 80px;
}

.card:hover {
  background-color: transparent;
  cursor: pointer;
}

#description {
  text-transform: capitalize;
}

.units a {
  text-decoration: none;
  color: black;
}

.info {
  margin-left: 60px;
}

.source  a {
  text-decoration: none;
}

.source {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
